$siteWidth: 1140px;
$siteCenter: calc(50% - $siteWidth / 2);
$siteWidthTablet: 768px;
$siteCenterTablet: calc(50% - $siteWidthTablet / 2);
$siteWidthSmartphone: 375px;
$siteCenterSmartphone: calc(50% - $siteWidthSmartphone / 2);
$widthBurgerMenu: 240px;
$colorBlack: #000;
$colorDark: #222;
$colorText: #6F6E6E;
$colorWhite: #fff;
$colorSelect: #ef5b70;