@import './scripts/vars';
@import './scripts/global';
@import './scripts/mixins';
@import './scripts/fa_icons';
@import './scripts/swiper';


.header {
	height: 75px;
	background-color: $colorDark;
	@include flex-between-center();

	&__left {
		@include flex-between-center();
	}

	&__logo {
		width: 44px;
		margin-right: 41px;
	}
}

.menu__list {
	list-style-type: none;
	display: flex;
	gap: 41px;
}

.menu__item:hover .mobile-menu {
	display: block;
}

.mobile-menu {
	position: absolute;
	top: 52px;
	right: 187px;
	background: $colorWhite;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	padding: 32px;
	display: none;
	z-index: 10;

	&__item {
		margin-bottom: 20px;
	}

	&__heading {
		@include font-size-weight(14px, 700);
		color: $colorBlack;
		margin-bottom: 24px;
	}

	&__title {
		display: block;
		color: $colorSelect;
		@include font-size-weight(14px, 400);
		margin-bottom: 12px;
	}

	&__link {
		display: block;
		color: #6f6e6e;
		@include font-size-weight(14px, 400);
		padding: 13px;
	}
}

.top_nav {
	background-color: #F8F3F4;
	padding-top: 60px;
	padding-bottom: 60px;
	@include flex-between-center();

	&__title {
		color: $colorSelect;
		@include font-size-weight(24px, 400);
	}

	&__list {
		display: flex;
		font-weight: 300;
		font-size: 14px;
		line-height: 16.8px;

		&__link a {
			color: #636363;
			text-decoration: none;
			padding-left: 6px;
			padding-right: 6px;
		}

		&__link:hover a {
			color: $colorSelect;
		}

		&__link:not(:last-child)::after {
			content: '/';
			color: #636363;
		}

		&__link:last-child a {
			color: $colorSelect;
			font-weight: 700;
		}
	}
}

.filter-sort {
	z-index: 1;
	height: 132px;
	position: relative;
	display: flex;
	gap: 16px;
}

.filter {
	padding: 13px 16px 16px;
	width: 360px;
	top: 39px;
	position: absolute;
	box-sizing: border-box;

	&[open] {
		background: $colorWhite;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	}

	&[open] &__heading {
		color: $colorSelect;
	}

	&[open] path {
		fill: $colorSelect;
	}

	&__summary {
		display: flex;
		align-items: center;
		gap: 11px;
	}

	&__heading {
		@include font-size-weight(14px, 600);
		color: $colorBlack;
	}

	&__link-box {
		display: flex;
		flex-direction: column;
		gap: 11px;
		padding: 24px 16px;
	}

	&__link {
		@include font-size-weight(14px, 400);
		color: #6F6E6E;
	}

	&__item {
		margin-top: 16px;
	}

	&__head {
		@include font-size-weight(14px, 400);
		color: #6F6E6E;
		padding: 8px 11px 11px 11px;
		border-bottom: 1px solid #EBEBEB;
		border-left: 5px solid $colorSelect;
	}

	&__item[open] &__head {
		color: $colorSelect;
	}
}

.sort {
	position: relative;
	left: 390px;
	top: 51px;
	display: flex;
	gap: 28px;

	&__details {
		position: relative;
	}

	&__summary {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__check {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	&__heading {
		@include font-size-weight(14px, 400);
		color: #6F6E6E;
	}

	&__box {
		box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
		padding: 7px 30px 11px 9px;
		background: #FFF;
		color: #6F6E6E;
		@include font-size-weight(14px, 400);
		position: absolute;
		left: -9px;
		top: 20px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.product_info {
	z-index: 1;
	position: relative;
	top: -65px;
	@include flex-column-gap(0px);
	align-items: center;
	border: #EAEAEA 1px solid;
	padding: 65px 250px;
	background-color: #FFF;

	&__subtitle {
		color: $colorSelect;
		font-size: 14px;
		font-weight: 300;
		padding-bottom: 12px;
		margin-bottom: 12px;
		border-bottom: 3px solid #EF5B70;
	}

	&__title {
		color: #4D4D4D;
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 48px;
	}

	&__text {
		color: #5E5E5E;
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 32px;
	}

	&__price {
		color: #EF5B70;
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 65px;
	}

	&__options {
		width: 100%;
		display: flex;
		gap: 24px;
		align-items: center;
		justify-content: center;
		color: #6F6E6E;
		font-size: 14px;
		margin-bottom: 48px;
		padding-top: 65px;
		border-top: #EAEAEA 1px solid;

		&__btn {
			display: flex;
			align-items: center;
			gap: 9px;
		}

		&__details {
			position: relative;

			&[open] .product_info__options__svg {
				transform: rotate(180deg);
			}
		}

		&__list {
			position: absolute;
			right: 0;
			left: 0;
			top: 24px;
			@include flex-column-gap(6px);
			justify-content: center;
			align-items: start;
			padding: 7px 9px;
			background-color: #FFF;
			box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);

			&__div {
				display: flex;
				align-items: center;
				gap: 9px;
			}
		}
	}

	&__btn {
		border: $colorSelect 1px solid;
		color: $colorSelect;
		font-size: 16px;
		background-color: #FFF;
		display: flex;
		align-items: center;
		gap: 23px;
		padding: 14px 56px 9px 23px;
		transition: all 0.3s;

		&__svg {
			color: $colorSelect;
			transition: color 0.3s;
		}

		&__svg path {
			color: #FFFFFF;
			transition: color 0.3s;
		}
	}

	&__btn:hover {
		color: #FFFFFF;
		background-color: $colorSelect;
	}

	&__btn:hover .product_info__btn__svg {
		color: #FFFFFF;
	}
}

.product {
	margin-bottom: 128px;

	&__title {
		color: $colorDark;
		@include font-size-weight(30px, 400);
		text-align: center;
		margin-bottom: 6px;
	}

	&__subtitle {
		color: #9f9f9f;
		@include font-size-weight(14px, 400);
		text-align: center;
		margin-bottom: 48px;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		margin-bottom: 48px;
	}

	&__item {
		max-width: 360px;
		background-color: #f8f8f8;
		position: relative;
		@include flex-column-center();
	}

	&__item:hover &__img {
		filter: brightness(30%);
	}

	&__item:hover &__add-link {
		position: absolute;
		top: 180px;
		display: flex;
		align-self: center;
		align-items: center;
	}

	&__img {
		max-width: 100%;
		margin-bottom: 24px;
	}

	&__description {
		@include padding-left-right(16px, 28px);
		padding-bottom: 20px;
	}

	&__heading {
		color: $colorBlack;
		@include font-size-weight(13px, 400);
		margin-bottom: 12px;
	}

	&__text {
		color: #5d5d5d;
		@include font-size-weight(14px, 300);
		margin-bottom: 18px;
	}

	&__price {
		color: $colorSelect;
		@include font-size-weight(16px, 400);
	}

	&__add-link {
		color: $colorWhite;
		@include font-size-weight(14px, 400);
		padding: 1rem 2rem;
		border: $colorWhite 1px solid;
		display: none;
	}

	&__cart {
		margin-right: 11px;
	}
}



.feature {
	background-color: $colorDark;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 30px;
	padding-top: 103px;
	padding-bottom: 104px;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		color: #f16d7f;
		margin-bottom: 28px;
		font-size: 40px;
	}

	&__heading {
		color: #fbfbfb;
		font-size: 19.96px;
		font-weight: 400;
		margin-bottom: 16px;
	}

	&__text {
		color: #fbfbfb;
		text-align: center;
		font-size: 13.972px;
		font-weight: 300;
	}
}

.subscribe {
	@include padding-top-bottom(97px, 156px);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/back_subscribe.jpg");

	&__left {
		@include flex-column-center();
		gap: 30px;
		max-width: 35%;
	}

	&__text {
		color: $colorDark;
		text-align: center;
		@include font-size-weight(20px, 400);
	}

	&__text_italic {
		font-style: italic;
	}

	&__right {
		margin-top: 43px;
	}

	&__title {
		color: $colorDark;
		text-align: center;
		@include font-size-weight(24px, 700);
		margin-bottom: 32px;
	}

	&__subtitle {
		@include font-size-weight(18px, 400);
	}

	&__form {
		display: flex;
	}

	&__email {
		width: 257px;
		color: $colorDark;
		opacity: 0.671;
		@include font-size-weight(14px, 400);
		background-color: #e1e1e1;
		@include padding-left-right(22px, 10px);
		border: none;
		border-radius: 23px 0 0 23px;
	}

	&__button {
		color: $colorWhite;
		text-align: center;
		@include font-size-weight(14px, 400);
		background-color: $colorSelect;
		padding: 1rem;
		border: none;
		border-radius: 0 23px 23px 0;
	}
}

.footer {
	background-color: $colorDark;
	@include padding-top-bottom(24px);
	@include flex-between-center();

	&__rights {
		color: #fbfbfb;
		@include font-size-weight(16px, 400);
	}

	&__socials {
		font-size: 32px;
	}
}

/*# sourceMappingURL=style.css.map */