$siteWidth: 1140px;
$siteCenter: calc(50% - $siteWidth / 2);
$siteWidthTablet: 768px; // 712px
$siteCenterTablet: calc(50% - $siteWidthTablet / 2);
$widthBurgerMenu: 232px;
$colorBlack: #000;
$colorDark: #222;
$colorText: #6F6E6E;
$colorWhite: #fff;
$colorSelect: #ef5b70;